site_name: Brian Innes - Personal Blog
site_author: Brian Innes
site_url: https://binnes.github.io/blog/
repo_url: https://github.com/binnes/blog
copyright: Copyright &copy; 2025 Brian Innes

theme:
  name: material
  logo: assets/images/BrianLogo.png
  language: en
  custom_dir: override
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: indigo
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.indexes
    - navigation.footer
    - navigation.tabs
    - content.code.annotate
plugins:
  - search
  - blog:
      blog_dir: .
      blog_toc: true
      post_date_format: full
      post_url_date_format: yyyy/MM/dd
      archive_date_format: MMMM yyyy
      authors: true
      post_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      post_excerpt: required
      archive_toc: true
      categories_toc: true
  - meta
  - social:
      cards_layout_options:
        cards_layout: default
        title: Brian Innes
extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/mermaid.mjs
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/briani
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
