:root  > * {
  --md-primary-fg-color:        #050975;
  --md-primary-fg-color--light: #0f16d5;
  --md-primary-fg-color--dark:  #050975;
}
.myheader {
  background: url("../images/ComfyUI_00026_.png");
  background-repeat: no-repeat; 
  background-size: cover;
}

.md-header {
  background-color: transparent !important
}